.na1 ul{
    display: flex;
    align-items: center;
}
.na1 ul li{
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
}
#logo{
    font-family:'Trebuchet MS';
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin-top: 0px;
    font-size: 25px;
    width: min-content;
}
.na2 ol{
    display: flex;
}
.na2 ol li{
    list-style: none;
    margin: 10px 30px 10px 0px;
}
h1{
    margin-left: 40px;
    font-family: Verdana, Tahoma;
}
#PA{
    margin-left: 40px;
    font-family: Verdana, Tahoma;
    width: 80%;
}
a{
    text-decoration: none;
    
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
a:hover {
    text-decoration: underline;
  }
section{
    display: inline-flex;
    margin-left: 40px;
    margin-right: 395px;
    justify-content: space-between;
}
img{
    width:175px;
    height:250px;
    padding: 7px;
}
section div{
    border: 1.5px solid black;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
div p, div h4{
    font-family: Tahoma;
    margin-left: 7px;
}
footer{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    font-family:'Trebuchet MS';
    text-align: center;
}