.na1{
    display: flex;
    align-items: center;
}
.na1 ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    margin-right: 50px;
    font-weight: bold;
}
#logo{
    font-family:'Trebuchet MS';
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 25px;
    width: min-content;
}
.na2 ol{
    display: flex;
    margin-left: -2.3rem;
}
.na2 ol li{
    list-style: none;
    margin: 10px 30px 10px 0px;
    margin-right: 40;
}
h1{
    font-family: Verdana, Tahoma;
}
#PA{
    font-family: Verdana, Tahoma;
    width: 80%;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
a:hover {
    text-decoration: underline;
  }
section{
    display: inline-flex;
    margin-right: 395px;
    justify-content: space-between;
}
img{
    width:175px;
    height:250px;
    padding: 7px;
}
section div{
    border: 1.5px solid black;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
div p, div h4{
    font-family: Tahoma;
    margin-left: 7px;
}
footer{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    font-family:'Trebuchet MS';
    text-align: center;
}
@media screen and (max-width: 500px) {
    .na1{
        display: block;
        
    }
    #logo{
        margin-left: 40%;
    }
    #PA{
        width: 100%;
    }
    section{
        flex-wrap: wrap;
    }
    img{
        width: 70vw;
        height: calc(70vw * 1.4);
    }
    section div{
        margin-bottom: 10px;
        margin-left: 8vw;
    }
    li{
        font-weight: normal;
    }
    .na1 ul li{
        margin: 0;
        border: 1.3px solid black;
        font-weight: normal;
        padding: 5px;
        font-size: 3.1vw;
    }
    .na1 ul {
        margin-left: 1vw;
    
    }

};