body {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    background-color: #f2f4f3;
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', sans-serif;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
li{
    list-style: none;
    font-weight: bold;
}
.nav1{
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-bottom: 1.5rem;
}
.nav1 ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    grid-column-gap: 2rem;
}
.nav1 ul li{
    background-color: #c5bacb;
    border-radius: 7%;
    padding: 8px 15px;
}
#logo{
    font-family:'Trebuchet MS';
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 38px;
    width: min-content;
}
.nav2 ol{
    display: flex;
    margin-left: -2.4rem;
    margin-bottom: 1.5rem;
}
.nav2 ol li{
    list-style: none;
    margin-right: 40px;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 1.5rem;
}
#content1 div,#content2 div,#content3 div,#content4 div{
    display: flex;
    justify-content: center;
}
#content1,#content2,#content3,#content4{
    border-radius: 3px;
    background-color: #c7d7d6;
}
img{
    width: 16vw;
    height: calc( 15vw * 1.4);
    border-radius: 2%;
    margin: 15px;
}
h4, section p{
    margin-left: 7%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    background-color: #d7cec7;
    font-family:'Trebuchet MS';
    text-align: center;
}
#articleContent{
    font-family: sans-serif;
}
h2{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 842px) {
    #logo{
        padding: 10px 30px;
        font-size: 25px;
        width: min-content;
        margin-bottom: 0.4rem;
    }
    .container{
        grid-template-columns: auto auto;
        grid-row-gap: 1.5rem;
    }
    img{
        width: 32vw;
        height: calc( 30vw * 1.4);
    }
    h4, section p{
        margin-left: -2%;
        text-align: center;
    }
    .nav1{
        grid-template-columns: auto;
        justify-items: center;
    }
    .nav1 ul{
        margin-left: -2.4rem;
        grid-column-gap: 0rem;
    }
    .nav1 ul li{
        display: flex;
        border: 1px solid black;
        padding: 8px;
        font-size: 2.5vw;
        border-radius: 0%;
    }

}
@media only screen and (max-width: 600px) {
    .container{
        grid-template-columns: auto;
    }
    img{
        width: 50vw;
        height: calc( 50vw * 1.4);
    }
}